@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

html {
    scroll-behavior: smooth;
  }
  

body {
    background-image: url('img/mini-profile-bg-01.jpg');
    background-repeat: no-repeat;
    background-size: 100% ;
    background-attachment: fixed;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bolder;
}

#navbar {
    border-radius: 0px 0px 30px 30px;
    margin: auto;
    display:flex;
    flex-direction:row;
    margin-top: 540px;
    margin-left: 50%;  
    background-color: rgb(0, 0, 0, 0.5);
    width: 660px;
  }
  
  #navbar a {
    border-radius: 0px 0px 30px 30px;
    text-align: center;
    float: left;
    order:1;
    flex-grow:1;
    width: auto;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: rgb(0, 0, 0, 0.6);
    color: white;
  }
  
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: sticky;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

div.transbox {
    position: absolute;
    top: 280px;
    left: 50%;  
    height: auto;
    width: 600px;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 30px;
}
    
div.transbox h1 {
    padding-top:  10px;
    text-align: center;
    font-weight: normal;
    color: white;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

div.transbox h2 {
    padding-bottom: 40px;
    text-align: center;
    font-weight: normal;
    color: white;
    font-size: 20px;
}

div.transbox2 {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 7%;
    height: 500px;
    background-color: rgb(255, 255, 255, 0.7);
}

div.brownbox {
    margin-right: 10%;
    background-color: rgb(58, 38, 28, 0.9);
}

div.brownbox h1 {
    text-align: center;
    font-weight: normal;
    color: white;
    font-size: 40px;
}


.avatar {
    padding: 48px;
    padding-left: 100px;
    padding-right: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

div.transbox2 h2{
    margin-left: 100px;
    font-weight: normal;
    color: white;
    font-size: 20px;
}
div.aboutme {
    width: auto;
    display:inline-block;
}

div.aboutme h1{
    display: table;
    margin: auto;
    padding-top: 50px;
    border-bottom:5px solid rgb(0, 0, 0, 0.5);
    font-weight: normal;
    color: black;
    font-size: 50px;
    font-weight: bold;
} 

div.aboutme p{
    font-style: italic;
    text-align: center;
    font-weight: 400;
    color: black;
    font-size: 30px;
    padding : 50px;
}

.exp {
    padding-top: 30px;
    display: flex;
    padding: 100px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: rgb(255, 255, 255 ,0.9); 
}

div.prakse  {
    margin: 50px;
    display: flex;
    width: 400px;
    height: 200px;
    background-color: #98cb00;
    text-align: center;
    font-weight: normal;
    color: white;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}

div.description h1{
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
    color:  #98cb00;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.description p{
    font-weight: normal;
    margin-bottom: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

div.prakse2 {
    margin: 50px;
    width: 400px;
    height: 200px;
    background-color: #cc6733;
    text-align: center;
    font-weight: normal;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;    
}


div.prakse3 {
    margin: 50px;
    width: 400px;
    height: 200px;
    background-color: #6b6b6b;
    text-align: center;
    font-weight: normal;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;    
}


div.description2 h1{
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
    color:  #cc6733;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.description3 h1{
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
    color:  #6b6b6b;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}



#contact-area {
	width: 600px;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}

div.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    background-color: rgb(255, 255, 255 ,0.9);
}

div.skills {
    height: 300px;
    width: auto;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255 ,0.2);
}

.myskills {
    width: auto;
    height: auto;
    padding-bottom: 80px;
    padding-top: 20px;
}


div.myskills {
    background-color: rgb(255, 255, 255 ,0.2);
    width: auto;
    height: auto;
    padding: 80px;
}

div.myskills h1 {
    display: table;
    margin: auto;
    border-bottom:5px solid rgb(0, 0, 0, 0.5);
    font-weight: bold;
    color: Black;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}


div.experience {
    background-color: rgb(255, 255, 255 ,0.9);
    display: flex;
    width: auto;
    height: auto;
    padding-top: 100px;
}

div.experience h1 {
    display: table;
    margin: auto;
    border-bottom:5px solid rgb(0, 0, 0, 0.5);
    font-weight: bold;
    color: Black;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}


div.contactme {
    background-color: rgb(255, 255, 255 ,0.9);
    width: auto;
    height: auto;
    padding: 80px;
}

div.contactme h1{
    display: table;
    margin: auto;
    border-bottom:5px solid rgb(0, 0, 0, 0.5);
    font-weight: bold;
    color: Black;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}

div.education {
    background-color: rgb(255, 255, 255 ,0.5);
    width: auto;
    height: auto;
    padding: 80px;
    display: flex;
    justify-content: space-around;
}

div.education h1 {
    display: table;
    margin: auto;
    border-bottom:5px solid rgb(0, 0, 0, 0.5);
    font-weight: bold;
    color: Black;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}

.education1 {
    padding: 50px;
    background-color: rgb(255, 255, 255 ,0.9);
    width: auto;
    height: auto;
    border-radius: 10px;
}

.education-logo {
    padding: 30px;
    display: table;
    margin: auto;
    width: 150px;
    height: auto;
}

.education p {
    line-height: 2;
    text-align: center;
    display: table;
    margin: auto;
}

.education-logo1 {
    padding: 30px;
    display: table;
    margin: auto;
    width: 300px;
    height: auto;
}